.contato {
  margin-bottom: 0rem;
}

.Ofertas {
  margin-bottom: 5rem;
}

.AppExclusivo {
  padding: 1.6rem;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.TelefoniaBanner {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .contato {
    margin-bottom: 0rem;
  }
  .AppExclusivo {
    padding: 0.9rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }
  .TelefoniaBanner {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
