/* ================== VARIÁVEIS CSS CUSTOM - Depoimentos ================== */

:root {
  /* ELEMENTOS */
  --depoimentos-sectionBackground: var(--color-neutral-background);
  --depoimentos-cardBackground: var(--color-neutral-white);
  --depoimentos-cardTopBorder: var(--color-primary-main);
  --depoimentos-titleColor: var(--color-secondary-blue);
  --depoimentos-authorColor: var(--color-secondary-blue);
}

/* ================================================================ */

.secao {
  padding: 6rem 0;
}

.texto-oni-azul {
  color: var(--depoimentos-titleColor);
}

.fundo-claro {
  background-color: var(--depoimentos-sectionBackground) !important;
}

.depoimento {
  background-color: var(--depoimentos-cardBackground);
  border-radius: 0;
  position: relative;
  padding: 3rem;
  box-shadow: var(--box-shadow-md);
}

.depoimento:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--depoimentos-cardTopBorder);
}

.destaque {
  font-size: 1.3rem;
  line-height: 1.8;
  position: relative;
  padding: 0 20px;
}

.destaque:before {
  content: '';
  font-size: 5rem;
  position: absolute;
  left: -20px;
  top: -30px;
  color: var(--color-primary-light);
}

.autor {
  font-weight: 600;
  text-align: right;
  color: var(--depoimentos-authorColor);
  margin-top: 20px;
}
